ul.services-list {
  margin-bottom: 20px;

  li {
    margin: 0 0 8px;
    a {
      display: block;
      padding: 8px 12px;
      background: #eee;
      font-size: 23px;
      color: #000;
      text-decoration: none;

      &:hover {
        background: #ddd;
      }
    }
  }
}

.service-actions {
  float: right;
  margin-top: -50px;

  a {
    @extend .button;
    font-size: 14px;
    padding: 8px 15px;
  }
}
